.navbar{
    display:flex;
    flex-direction: column;

    max-width: 200px;
    height: 100%;
    min-height: 400px;
    border-radius: 12px;
   /* background: linear-gradient(45deg, #a87eb9, #45aeeb);*/

    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 0 1px #000;
}

.navbar a{
    text-decoration: none;
    color: #d8eae8;
    font-size: 24px;

    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar a:current{
    color: goldenrod;
}