.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 600px;
  max-width: 1240px;
  height: 100%;

  background: rgb(123, 120, 173);
  background: linear-gradient(
    90deg,
    rgba(123, 120, 173, 1) 0%,
    rgba(31, 98, 144, 0.09877454399728647) 43%,
    rgba(130, 217, 235, 1) 100%
  );
}
