.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 600px;
  max-width: 1240px;
  height: 100%;

  background: rgb(209, 207, 255);
  background: linear-gradient(
    90deg,
    rgba(123, 120, 173, 1) 0%,
    rgb(206, 237, 243) 50%
  );
}
