.footer p,
a {
  text-decoration: none;
  color: dimgray;
  font-weight: lighter;
  font-size: 8px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.footer div {
  display: flex;
  justify-content: center;
  font-family: "Shippori Mincho B1", serif;
  padding: 0;
  max-height: 10px;
}
